<div class="container">

  <div class="title"><h1>Track legislators by state</h1></div>

  <div class="add_button">
    <%= form_tag("/states/new", method: :get) do %>
    <%= submit_tag 'Add state to track', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div class="api_list">
    <% @states.each do |state| %>
      <ul>
        <li><a href="/states/<%= state.id %>"><%= state.name %></a></li>
      </ul>
    <% end %>
  </div>
</div>
