<div class="container">

  <div class="title"><h1>Track legislators by state</h1></div>

  <div class="add_button">
    <%= form_tag("/states/new", method: :get) do %>
    <%= submit_tag 'Add state to track', class: "btn btn-large btn-primary" %>
    <% end %>
  </div>


<% if @user.states %>
  <div class="api_list">
    <% @user.states.each do |state| %>

    <%= state.name %>

    <% end %>
  </div>
<% end %>

</div>
