body {
  line_height: 1.62;
  font-family: Helvetica;
}

body h1 {
  color: #00000;
  font-family: georgia;
}

li {
  margin-bottom: 10px;

}

.container {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 25px;
  line-height: 1.62;
  font-family: helvetica;
}

.title {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.title h1 {
  margin-bottom: 0px;
}

.list {
  margin-top: 20px;
}

.home {
  width: 960px;
  margin-top: 100px;
  text-align: center;
}

.home_buttons {
  width: 960px;
  text-align: center;
  margin-bottom: 100px;
}

/* NAVIGATION BAR */

.left {
  float: left;
  width: 500px;
}

.nav {
  background-color: #428BCA;
  height: 50px;
  color: black;
  padding-top: 13px;
  font-size: 16px;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  display: inline;
  margin-left: 30px;
}

.nav a {
  color: white;
  hover: #989898;
}

.logout {
  float: right;
  text-align: right;
  margin-right: 70px;
}

.message {
  border; 1px solid #00000;
}

/* DASHBOARD */

.dashboard {
  margin-left: 68px;
  float: left;
}

.state_head {
  margin-left: 30px;
}

/* LOGIN */

.login {
  width: 500px;
  margin-left: 200px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #CCC;
}

.field {
  margin-top: 20px;
}

.actions {
  margin-top: 20px;
}

.login_error {
  width: 960px;
  margin-left: 210px;
  margin-top: 100px;

}

/* INDIV LEGISLATOR PAGE */

.legis_container {
  margin-left: 100px;
}
